<% if @user.errors.any? %>
  <ul>
    <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<div class="form-group">
<%= form.label :first_name, class: "col-md-2 control-label" %>
  <div class="col-md-10">
    <%= form.text_field :first_name, required: true, class: "col-md-4 form-control" %>
  </div>
</div>

<div class="form-group">
<%= form.label :last_name, class: "col-md-2 control-label" %>
  <div class="col-md-10">
    <%= form.text_field :last_name, required: true, class: "col-md-4 form-control" %>
  </div>
</div>

<div class="form-group">
<%= form.label :email, class: "col-md-2 control-label" %>
  <div class="col-md-10">
    <%= form.email_field :email, required: true, class: "col-md-4 form-control" %>
  </div>
</div>

<div class="form-group">
<%= form.label :id_number, class: "col-md-2 control-label" %>
  <div class="col-md-10">
    <%= form.text_field :id_number, required: true, class: "col-md-4 form-control" %>
  </div>
</div>

<div class="form-group">
<%= form.label :password, class: "col-md-2 control-label" %>
  <div class="col-md-10">
    <%= form.password_field :password, required: true, class: "col-md-4 form-control" %>
  </div>
</div>

<div class="form-group">
<%= form.label :grade_level, class: "col-md-2 control-label" %>
  <div class="col-md-10">
    <%= form.text_field :grade_level, required: true, placeholder: "ex: freshman", class: "col-md-4 form-control" %>
  </div>
</div>

<div class="form-group">
<%= form.label :current_homeroom, class: "col-md-2 control-label" %>
  <div class="col-md-10">
    <%= form.text_field :current_homeroom, required: true, class: "col-md-4 form-control" %>
  </div>
</div>