<% if flash[:message] %>
  <%= flash[:message] %>
<% end %>

<div class="container-fluid">
  <div class="col-md-10">
    <div class="row">
      <p class="message"><b>ATTENTION!</b></br>
        Once you have been registered for a full schedule, you can no longer drop or add classes.</br>
        If changes have to be made, you must obtain the special permission of an administrator.</br>
        Schedules <b>CAN NOT</b> be edited once they are complete!</br>
      </p>
    </div>
    <div class="head">
      <%= @user.first_name %> <%= @user.last_name %>'s Schedule
    </div>
    <div class="row">
      <div class="col-md-1 head">PERIOD</div>
      <div class="col-md-4 head">SECTION NAME</div>
      <div class="col-md-5 head">DESCRIPTION</div>
      <div class="col-md-1 head">SEATS</div>
    </div>

    <% schedule_order(@enrollments).each do |enrollment| %>
      <div class="row line-space">
        <div class="col-md-1"><%= enrollment.section.period_id %></div>
        <div class="col-md-4"><%= enrollment.section.name %></div>
        <div class="col-md-5"><%= enrollment.section.course.description %></div>
        <div class="col-md-1"><%= enrollment.section.seats %></div>
        <% if current_user.id == @user.id  && !current_user.schedule_confirmed %>
        <div class="col-md-1">
          <%= link_to 'Drop', course_section_enrollment_path(enrollment.section.course, enrollment.section, enrollment), method: :delete, class: "btn btn-danger btn-xs" %>
        </div>
        <% end %>
      </div>
    <% end %>
    <% if current_user.admin %>
    <div class="row">
      <div class="col-md-offset-4">
        <%= link_to 'Download Schedule as CSV', user_path(format: :csv), class: "btn btn-default btn-sm" %>
      </div>
      <div class="col-md-offset-4">
        <%= link_to 'Reopen Student Schedule', user_path(@user, schedule_confirmed: false),
                                               method: :patch,
                                               data: {confirm: "Are you sure you want to open #{@user.first_name} #{@user.last_name}'s schedule?"},
                                               class: "btn btn-default btn-sm"  %>
      </div>
      <div class="col-md-offset-4">
        <%= link_to 'Close Student Schedule', user_path(@user, schedule_confirmed: true),
                                               method: :patch,
                                               data: {confirm: "Are you sure you want to close #{@user.first_name} #{@user.last_name}'s schedule?"},
                                               class: "btn btn-default btn-sm"  %>
      </div>
    </div>
    <% end %>
    <% if current_user == @user && current_user.schedule_confirmed == false %>
    <div class="col-md-1 text-center">
      <%= button_to "Confirm Schedule", user_path(current_user,
                                                  schedule_confirmed: true),
                                                  method: :patch,
                                                  data: {confirm: "Are you sure you are ready to lock you schedule?"},
                                                  class: "btn btn-default btn-sm" %>

    </div>
    <% end %>
  </div>
</div>