  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-2 head">LAST</div>
    <div class="col-md-1 head">FIRST</div>
    <div class="col-md-2 head">EMAIL</div>
    <div class="col-md-1 head">ID#</div>
    <div class="col-md-2 head">HOMEROOM</div>
    <div class="col-md-2 head">GRADE LEVEL</div>
  </div>

  <% @students.each do |student| %>
    <div class="row output">
      <div class="col-md-1"><%= student_index(student) %></div>
      <div class="col-md-2"><%= student.last_name %></div>
      <div class="col-md-1"><%= student.first_name %></div>
      <div class="col-md-2"><%= student.email %></div>
      <div class="col-md-1"><%= student.id_number %></div>
      <div class="col-md-2"><%= student.current_homeroom %></div>
      <div class="col-md-2"><%= student.grade_level %></div>
      <div class="col-md-1"><%= link_to 'Schedule', user_path(student), class: "btn btn-default btn-sm my-btn" %></div>
    </div>
  <% end %>