<div class="container-fluid">
  <div class="col-md-10">
    <div class="row">
      <div class="col-md-11">
        <div class="col-md-1"></div>
        <div class="col-md-2 head">NAME</div>
        <div class="col-md-2 head">STUDENT ID#</div>
        <div class="col-md-1 head">PERIOD</div>
        <div class="col-md-2 head">SECTION CODE</div>
        <div class="col-md-3 head">SECTION NAME</div>
      </div>
    </div>
    <% student_order(@students).each do |student| %>
    <div class="row pre-scrollable">
      <div class="col-md-11">
        <div class="col-md-1"><%= student_index(@students, student) %></div>
        <div class="col-md-2"><%= student.last_name %>, <%= student.first_name %></div>
        <div class="col-md-2"><%= student.id_number %></div>
      </div>
    </div>
      <% student_enrollments(student).each do |enrollment|%>
      <div class="row">
        <div class="col-md-offset-4 col-md-9">
          <div class="col-md-1"><%= enrollment.section.period_id %></div>
          <div class="col-md-2"><%= enrollment.section.code %></div>
          <div class="col-md-5"><%= enrollment.section.name %></div>
        </div>
      </div>

      <% end %>
      <div class="row output"></div>
    <% end %>
  </div>
</div>

<div class="container-fluid">
    <div class="col-md-offset-10 col-md-2">
      <%= render '/shared/enrollments_as_csv' %>
    </div>
</div>