<div class="container-fluid">

  <div class="col-md-10 master-box">
    <%= link_to 'Download as CSV', courses_master_path(format: :csv), class: "btn btn-default btn-sm new-cl-btn" %>
    <%= link_to 'Download as Excel', courses_master_path(format: :xlsx), class: "btn btn-default btn-sm new-cl-btn" %>
    <% @courses.each do |course| %>
      <div class="row master-course">
        <div>COURSE: <%= course.name %></div>
      </div>

        <% course.sections.each do |section| %>
          <div class="row">
            <div class="col-md-8">SECTION: <%= section.name %> | Period <%= section.period_id %> </div>
            <div class="col-md-4">ENROLLED: <%= section.students.count %>/<%= possible_seats(section) %></div>
          </div>

          <% section.students.each do |student| %>
            <div class="row">
              <div class="col-md-offset-1 col-md-2"><%= student.last_name %>, <%= student.first_name %></div>
              <div class="col-md-2"><%= student.email %></div>
              <div class="col-md-1"><%= student.id_number %></div>
              <div class="col-md-2"><%= student.current_homeroom %></div>
              <div class="col-md-2"><%= student.grade_level %></div>
            </div>
          <% end %>
        <% end %>
    <% end %>

  </div>

</div>